/* admindashboard css file */
.modal-header{
      background-color: #f9f9f9;
      color: #2F4F4F
      height: 30px;
      text-transform: uppercase;
      font-size: 30px;
      padding:5px 10px;
  }
  .modal-body{
  	 background-color: #f2f2f2;
  }
  .close {
      color: red;
      opacity: .8;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  #scrollabel{
    height: 470px;
    overflow-y: auto;
  }
 .message_error{
	 color: #ff0000;
 }
 .tableWidth{
 width:100%;
 }
 
 tfoot input {
        width: 100%;
        padding: 1px;
        box-sizing: border-box;
    }
td.highlight {
    background-color: whitesmoke !important;
}

.listGroup{
	height:100px;
	width:100%;
	overflow: scroll;
	display: none;
}
caption { caption-side: top; 
          width: auto;
          text-align: left }


  
 
  
